<div class="lender-area">
	<div class="lender-title">Your Local Lender:</div>

	<div class="lender-contact">

		<%= image_tag 'lender-photo.jpg', class: 'lender-pic' %>
		<div class="lender-info">
			<div class="mar-top10"><strong>Gabe Crum</strong></div>
			<div>Idaho Central Credit Union</div>
			<div class="small">NMLS#: 1070585</div>
			<div>Phone: (208) 846-7093  </div>
		</div>
	</div>
</div> <!-- /.lender-info -->