<h3 class="mar-top50">FAQ</h3>
<p><strong>Q: Do I need a Pre-Approval? And what’s the difference from a Pre-Qualification?</strong></p>

<p>A: YES! If you are ready to start home shopping you should absolutely get a pre-approval letter. Only a Loan Officer can give you a pre-approval. Your pre-qualification is great first step in understanding where you stand as you begin to look.</p>

<p><strong>Q: Are there any zero down loan options out there for me?</strong></p>

<p>A: YES! 0% Down options are commonly available to many borrowers through financing programs like Idaho Housing and Finance Administration (IHFA), the Veteran Affairs (VA) and Boise Neighborhood Housing (NHS). Your loan officer will be delivering information to see if you qualify for 1 of the many programs.</p>

<p><strong>Q: I heard my Credit Score really impacts my ability to get a loan, is this true?</strong></p>

<p>A: YES! And your loan officer can get you your credit score when you begin the process of getting a pre-approval letter!! Credit scores, foreclosures and short sales can impact what you can qualify for, however, in many cases, they do not disqualify you from purchasing a home. Your loan officer will verify that you do in fact meet todays guidelines or let you know a date when you will.</p>