<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center mar-top40 congrats">Congratuations!</h1>
	</div>
</div>
<div class="col-sm-10 col-sm-offset-1 mar-top30">
	<div class="row">
		<div class="col-sm-6">
			<%= render 'guests/partials/your_number' %>
		</div>
		<div class="col-sm-5 col-sm-offset-1">
			<div class="lender-area">
				<div class="lender-title">Your Local Lender:</div>
				<%= render 'guests/partials/lender_info' %>
			</div>
		</div>
	</div>