<h1 class="congrats text-center mar-top50">Thank you for your request!</h1>
<h2 class="text-center mar-top30">You'll receive a custom list of homes from us shortly!</h2>

<div class="row">
	<div class="col-md-4 col-md-offset-1 col-xs-offset-1 thank-you-list">
		<h1>While you wait...</h1>
		<h3>1) Watch this short video about us!</h3>
		<h3>2) Tell your friends about the site!</h3>
		<h4>
			<a href="https://www.facebook.com/sharer/sharer.php?u=www.myrentwillbuy.com"><i class="fa fa-facebook-square"></i></a>
			<a href="https://twitter.com/home?status=Check%20out%20the%20homes%20your%20rent%20could%20buy!%20www.myrentwillbuy.com%20"><i class="fa fa-twitter-square"></i></a>
			<a href="https://plus.google.com/share?url=www.myrentwillbuy.com"><i class="fa fa-google-plus-square"></i></a>
			<a href="mailto:?subject=Check this out!&body=See what homes your rent can buy! http://www.myrentwillbuy.com"><i class="fa fa-envelope"></i></a>
		</h4>
		<h3>3) Search for homes right now!</h3>
		<h4><%= link_to "www.boisecompass.com", "http://www.boisecompass.com" %></h4>
	</div>
	<div class="col-md-4 col-xs-offset-1">
		<div class="thank-you-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/x5NBUedyNRg?autoplay=1" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div> <!-- /.row -->

<div class="row mar-top50">
	<div class="col-xs-10 col-xs-offset-1">
		<h2 class="thank-you-quote">"Seth was an amazing agent and we highly recommend him to everyone!" 
			<span>- Peter on Yelp.com</span>
		</h2>
		<h2 class="thank-you-quote">"Fred was the perfect agent for us to buy our second Million Dollar Home!" 
			<span>- Jan on Zillow.com</span>
		</h2>
	</div>


</div> <!-- /.row -->