        <li>
          <div class="guest-date"><%= guest.created_at.strftime("%d %b %Y") %></div>
          <span class="guest-info"><%= guest.email %></span>
          <br />
          <% guest.queries.each do | query | %>
          <span class="query"><%= "#{query.area.name}: $#{query.payment}" %></span>
          <% end %>
        </li>
        <hr>