<!-- about -->
<div class="container-fluid" style="padding:0;">

	<% if @guest.email.blank? && @guest.preapproval.blank? # initial search (no email, no preapproval) %> 
		<%= render 'guests/partials/property_results' %>

	<% elsif @guest.email.present? && @guest.preapproval.blank? # supplied an email, but no preapproval %>
		<%= render 'guests/partials/thank_you' %>

	<% elsif @guest.preapproval.present? # go to preapproved %>
		<%= render 'guests/partials/preapproval' %>

	<% else %>
		Something went wrong.
	<% end %>
					
</div>
<!-- /about -->

<%= render 'layouts/footer' %>
