<div class="max-width-wrapper">

	<%= render 'guests/partials/results_header' %>

		<div class="row clear-both">
			<div class="prequal-contact-thank-you">
				<% if @guest.yes_call.present? %>
					Thank you! Your lender will reach out to you by phone at the requested time!
					<% elsif @guest.yes_email.present? %>
					Thank you! Your lender will reach out to you by email soon!
					<% else %>
					Thank you! Your lender will reach out to you soon!
				<% end %>
				<div class="mar-top20 mar-bot20">Or give them a call at your convenience:</div>
				<%= render 'guests/partials/lender_info' %>
			</div>
		</div>

		<%= render 'guests/partials/prequal_faqs' %>
		
	</div>
</div> <!-- /.max-width-wrapper -->