<section class="featured">
	<div class="container"> 
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="fp-content">
					<div class="align-center">
						<h2 class="slogan-subhead">
							See homes to buy in your area <br />(for what you're paying in rent).
						</h2>
						<div class="front-page-form">
							<%= render 'guests/partials/form' %>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= render 'layouts/footer' %>

	

