<p>Congratulations on opening the door to your search for a new home.  We look forward to working with you towards a preapproval that will allow you to shop for a new home with confidence.</p>

<p>Based on the information that you provided before taking your credit into consideration, it appears that you may be qualified to purchase a home up to:</p>

<br />

<h1 style="text-align: center;">$yournumber</h1>

<br />

<h2 style="text-align: center;">You can finish your loan application completely online in just a few minutes!</h2>

<h2 style="text-align: center;">Apply now at: <a href="www.iccu.com/gabe">www.iccu.com/gabe</a></h2>

<br />

<p>Your actual preapproval is subject to a full credit application and may vary from this amount.  In order to know what program works best for you, the next step is completing a mortgage application (see link above or in my signature).</p>

<p>Idaho Central Credit Union offers a variety of programs with the local knowledge and service to smoothly navigate your home purchase.  ICCU confidently offers VA, FHA, Conventional, and 100% financing for qualified buyers.  Please don’t hesitate to contact me to get the ball rolling!</p>

<strong>Gabe Crum</strong><br />
Mortgage Loan Officer<br />
Email: gcrum@iccu.com<br />
Work: (208) 846-7093<br />
www.iccu.com/gabe<br />
