<h1>My Rent Will Buy is updating a lead!</h1>

<p>
	Name: <%= @prequal.name %><br />
	Email: <%= @prequal.prequal_email ? @prequal.prequal_email : @prequal.guest.email %><br />
	Phone: <%= @prequal.prequal_phone ? @prequal.prequal_phone : "none" %><br />
	Source: My Rent Will Buy
</p>