<h1>My Rent Will Buy is updating a lead!</h1>

<p>
	Name: <strong><%= @guest.name %></strong><br />
	Email: <strong><%= @guest.email %></strong><br />
	Phone: <strong><%= @guest.phone %></strong><br />
	Source: <strong>My Rent Will Buy</strong>
</p>