<div class="container">
	<div class="row">
		<div class="col-md-12">

<h1 class="mar-top30">FAIR HOUSING STATEMENT</h1>
      <p>Federal and state fair housing laws were put into effect to create an even playing field for homebuyers in all areas of a real estate transaction. These laws prohibit discrimination based on race, color, religion, sex, disability, familial status, and national origin.</p>
      <h3>Civil Rights Act of 1866</h3>
      <p>The Civil Rights Act of 1866 prohibits all racial discrimination in the sale or rental of property.</p>
      <h3>Fair Housing Act</h3>
      <p>The Fair Housing Act of 1968 makes fair housing a national policy. It prohibits discrimination in the sale, lease or rental of housing, or making housing otherwise unavailable because of race, color, religion, sex, disability, familial status or national origin.</p>
      <h3>Americans with Disabilities Act</h3>
      <p>Title III of the Americans with Disabilities Act prohibits discrimination against persons with disabilities in commercial facilities and places of public accommodation.</p>
      <h3>Equal Credit Opportunity Act</h3>
      <p>The Equal Credit Opportunity Act makes it unlawful to discriminate against anyone on a credit application due to race, color, religion, national origin, sex, marital status, age or because all or part of an applicant's income comes from any public assistance program.</p>
      <h3>THE RESPONSIBILITIES</h3>
      <p>The home seller, the home seeker, and the real estate professional all have rights and responsibilities under the law.</p>
      <h3>For the Home Seller</h3>
      <p>You should know that as a home seller or landlord you are obligated not to discriminate in the sale, rental and financing of property on the basis of race, color, religion, sex, disability, familial status, or national origin. You may not instruct the licensed broker or salesperson acting as your agent to convey for you any limitations in the sale or rental, because the real estate professional is also obligated not to discriminate. Under the law, a home seller or landlord cannot establish discriminatory terms or conditions in the purchase or rental; deny that housing is available or advertise that the property is available only to persons of a certain race, color, religion, sex, disability, familial status, or national origin.</p>
      <h3>For the Home Seeker</h3>
      <p>You have the right to expect that housing will be available to you without discrimination or other limitations based on race, color, religion, sex, disability, familial status, or national origin.</p>
      <p>This includes the right to expect:</p>
      <div><br>
      </div>
      <ul>
        <li>Housing in your price range made available to you without discrimination</li>
        <li>Equal professional service</li>
        <li>The opportunity to consider a broad range of housing choices</li>
        <li>No discriminatory limitations on communities or locations of housing</li>
        <li>No discrimination in the financing, appraising or insuring of housing</li>
        <li>Reasonable accommodations in rules, practices and procedures for persons with disabilities</li>
        <li>Non-discriminatory terms and conditions for sale, rental, financing, or insuring of a dwelling</li>
        <li>To be free from harassment</li>
      </ul>
      <div><br>
      </div>
      <h3>For the Real Estate Professional</h3>
      <p>Agents in a real estate transaction may not discriminate on the basis of race, color, religion, sex, disability, familial status or national origin. They also may not follow such instructions from a home seller or landlord.</p>
      <h3>What To Do if You Feel the Law Has Been Violated</h3>
      <p>Discrimination complaints about housing may be filed with the nearest office of the U.S. Dept. of Housing and Urban Development (HUD) or by calling HUD's toll-free numbers, <a href="tel:1-800-669-9777" value="+18006699777" target="_blank">1-800-669-9777</a> (voice) or TTY <a href="tel:%28800%29%20927-9275" value="+18009279275" target="_blank">(800) 927-9275</a> contact HUD on the Internet at <a href="http://www.hud.gov/offices/fheo/index.cfm" target="_blank">http://www.hud.gov/offices/fheo/index.cfm</a></p>
      </div>
	</div>
</div>

<%= render 'layouts/footer' %>