<div class="container">
	<div class="row">
		<h1 class="text-center">Edit Area</h1>

		<div class="text-center mar-top60">
		<%= render 'form' %>

		<%= link_to 'Show', @area %> |
		<%= link_to 'Back', areas_path %>
		</div>
	</div>
</div>