(for test account!!!)

<p>Congratulations on opening the door to your search for a new home.  We look forward to working with you towards a preapproval that will allow you to shop for a new home with confidence.</p>

<br />

<h2 style="text-align: center;">You can finish your loan application completely online in just a few minutes!</h2>

<h2 style="text-align: center;">Apply now at: <a href="http://tucker.benchmark.us/apply/">http://tucker.benchmark.us/apply/</a></h2>

<br />

<p>Your actual preapproval is subject to a full credit application and may vary from the amount presented at myrentwillbuy.com.  In order to know what program works best for you, the next step is completing a mortgage application (see link above or in my signature).</p>

<strong>Dean & Shanna Tucker</strong><br />
Licensed Mortgage Professionals, NMLS #103829 & #63357<br />
Benchmark Mortgage, NMLS 2143<br />
Office: 208.388.0500<br />
Email: <a href="mailto:dean.tucker@benchmark.us">Dean.Tucker@Benchmark.us</a><br />
2535 W State St, Boise, ID 83702<br />
Apply online: <a href="http://tucker.benchmark.us/apply/">http://tucker.benchmark.us/apply/</a><br />
