<section id="footer" class="section footer">
	<div class="container">

		<div class="row align-center copyright">
				<div class="col-sm-12">
					<p>Copyright &copy; 2014 My Rent Can Buy | <a href="/fair-housing">Fair Housing</a> | <a href="privacy-policy">Privacy Policy</a></p>
				</div>
		</div>
	</div>

</section>